.product-details-page{
    padding: 10px;
    display: flex;
    
}

.product-images>img{
    object-fit: contain;
    width: 100%;
    padding: 5px;
    max-width: 1000px;
    min-height: 500px;
    max-height:600px;
}
.products-details{
    padding: 10px;
    min-height: 400px;
    
}
.product-title{
    font-size: 30;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.product-price{
    font-size: 20px;
    font-weight: bold;
}
.buttons{
    display: flex;
    margin-top: 5px;
}
.btn{
    margin:5px;
    padding: 5px;
}

.product-footer{
    padding: 21px;
}